# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Build
dist/
dist-ssr/
build/

# Environment variables (QUAN TRỌNG)
.env
.env.*
!.env.example

# Local config
*.local

# OS
.DS_Store

# IDE
.vscode/*
!.vscode/extensions.json
.idea

# Misc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?